*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    height:100vh;
    background: linear-gradient(#345678,#787878);
    
}
.main{
    background-color: beige;
    width:40%;
   margin:50px auto;
    padding:20px;
    min-width:400px;
   border-radius: 5px;
   color:rgb(35, 35, 109);
   display:block;
}
h1{
    font-weight:900;
    padding:10px;
    margin-left:10%;
    width:80%;
}
#input-box{
    font-size:25px;
    border:none;
    outline:none;
    border-radius:5px;
    padding:5px;
    margin:10px;
    text-align:center;
    margin-left:10%;
    width:80%;
}
#btn{
    cursor: pointer;
    font-size:20px;
    border:none;
    outline:none;
    background: linear-gradient(green,grey);
    margin:20px;
    padding:10px;
    border-radius: 50px;
    color:#1c1847;
    margin-left:25%;
    width:50%;
}
.img-box{
    width:200px;
    border-radius: 5px;
    overflow:hidden;
    max-height:0;  
}
.img-box#qr-img{
    max-height:300px;
   width:100%;
   padding:10px;
   transition:max-height 1s;
}
.img-box.show-img{
    
    max-height: 300px;
margin:10px auto;

  
}
.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(2px);
    }
    50%{
        transform:translateX(0);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }
}